body
{
    color:black;
    background-color: #c4d8e2;
}

a
{
  color:black;
}

table
{
  border-collapse: collapse;
}
table,th,td
{
  border: 1px solid black;
}

form{
  display: grid;
  grid-template-columns: 30%;
}